body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#sidebar, #content {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 7em;
}
#sidebar { 
    left: 0; 
    width: 20em; 
    background: black;
    color: white;

}
#content {
    padding-left: 2em;
    left: 20em; 
    right: 0;
    overflow-x: hidden;
}

.navbar-custom {
    background-color:black;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.sidebar-menu {
    padding: 0.5em; 
    border-bottom-style: solid; 
    border-bottom-color: white; 
    border-bottom-width: 1px; 
}

.sidebar-menu-row {

    padding-left: 2.5em; 
    max-width: 20em;

}

.row-padding {
    padding: 2em;
}

.menu-row-padding {

    padding-left: 2em;
    padding-right: 2em;
}
